ENV=local

ADMIN_USER=admin
ADMIN_PASSWORD=zI8GXa8NzFbdP720fz
ADMIN_PASSWORD_HASH=$2y$10$eMnrBY.pSe7oAcybnlU6KOC990cNrmslqsj7SGZP26c7Bv4LtNRCy
QDRANT_API_KEY=zKsv7VnC91D675k78XAEimJArCEUpcZKxz
DOMAIN=quadro.run
LOCAL_PORT=8081